In [21]:
import pandas as pd

In [22]:
df = pd.read_csv('alldatasets.csv')

In [23]:
df

             text_info                                         tweet_text
0          informative  RT @Gizmodo: Wildfires raging through Northern...
1          informative  PHOTOS: Deadly wildfires rage in California ht...
2          informative  RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...
3          informative  RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...
4          informative  RT @TIME: California's raging wildfires as you...
...                ...                                                ...
18077  not_informative  Get to mora and try the whole menu https://t.c...
18078  not_informative  Mirka Mora (b.1928), noted French-born Austral...
18079  not_informative  @PaulMalignaggi Lol What u on about, Sergio Mo...
18080  not_informative  #Cameroon : 4 #female suicide #Bombers kill 1 ...
18081  not_informative  RT @saakey6251413: it happened during the visi...

[18082 rows x 2 columns]

In [24]:
df['tweet_text']

0        RT @Gizmodo: Wildfires raging through Northern...
1        PHOTOS: Deadly wildfires rage in California ht...
2        RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...
3        RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...
4        RT @TIME: California's raging wildfires as you...
                               ...
18077    Get to mora and try the whole menu https://t.c...
18078    Mirka Mora (b.1928), noted French-born Austral...
18079    @PaulMalignaggi Lol What u on about, Sergio Mo...
18080    #Cameroon : 4 #female suicide #Bombers kill 1 ...
18081    RT @saakey6251413: it happened during the visi...
Name: tweet_text, Length: 18082, dtype: object

In [25]:
df.rename(columns = {'text_info':'label','tweet_text':'text'}, inplace = True)

In [26]:
df

                 label                                               text
0          informative  RT @Gizmodo: Wildfires raging through Northern...
1          informative  PHOTOS: Deadly wildfires rage in California ht...
2          informative  RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...
3          informative  RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...
4          informative  RT @TIME: California's raging wildfires as you...
...                ...                                                ...
18077  not_informative  Get to mora and try the whole menu https://t.c...
18078  not_informative  Mirka Mora (b.1928), noted French-born Austral...
18079  not_informative  @PaulMalignaggi Lol What u on about, Sergio Mo...
18080  not_informative  #Cameroon : 4 #female suicide #Bombers kill 1 ...
18081  not_informative  RT @saakey6251413: it happened during the visi...

[18082 rows x 2 columns]

In [27]:
df.dtypes

label    object
text     object
dtype: object

In [8]:
import re
df['text'] = df['text'].apply(lambda x: re.split('https:\/\/.*', str(x))[0])

In [28]:
df['text']=df['text'].astype('string')

In [29]:
df['text']

0        RT @Gizmodo: Wildfires raging through Northern...
1        PHOTOS: Deadly wildfires rage in California ht...
2        RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...
3        RT @Cal_OES: PLS SHARE: Weâ€™re capturing wild...
4        RT @TIME: California's raging wildfires as you...
                               ...
18077    Get to mora and try the whole menu https://t.c...
18078    Mirka Mora (b.1928), noted French-born Austral...
18079    @PaulMalignaggi Lol What u on about, Sergio Mo...
18080    #Cameroon : 4 #female suicide #Bombers kill 1 ...
18081    RT @saakey6251413: it happened during the visi...
Name: text, Length: 18082, dtype: string

In [30]:
df['text']=df['text'].dropna()

df['text']=df['text'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [31]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline  
import nltk
from nltk import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import LancasterStemmer, WordNetLemmatizer, PorterStemmer
#from wordcloud import WordCloud, STOPWORDS
#from textblob import TextBlob
import re
import sys
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import numpy as np
# Importing library for stemming
from nltk.stem import PorterStemmer
stemming = PorterStemmer()
from nltk.stem.wordnet import WordNetLemmatizer
lemmatizing = WordNetLemmatizer()

In [32]:
def remove_pattern(input_txt, pattern):
    r = re.findall(pattern, input_txt)
    for i in r:
        input_txt = re.sub(i, '', input_txt)
        input_txt = re.sub(i, '', input_txt)
    return input_txt
df['text'] = np.vectorize(remove_pattern)(df['text'], "@[\w]*")
df['text'] = np.vectorize(remove_pattern)(df['text'], '^https?:\/\/.*[\r\n]*')

In [33]:
df['text'] =df['text'].apply(lambda x: x.lower())
df['text'] =df['text'].apply(lambda x: re.sub(r'[^\w\s]',' ',x))
df['text'] =df['text'].apply(lambda x: re.sub(r'[^a-zA-Z0-9]',' ',x))
df['text'] =df['text'].apply(lambda x: re.sub(r'[^a-zA-Z]',' ',x))

df['text'] =df['text'].apply(lambda x: word_tokenize(x))

In [16]:
import nltk
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\91900\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [34]:
import nltk
stop_words = set(stopwords.words('english'))
df['text'] =df['text'].apply(lambda x: [word for word in x if not word in stop_words])

df['text']=df['text'].apply(lambda x: ' '.join([stemming.stem(i) for i in x]))

df['text']=df['text'].apply(lambda x: ''.join([lemmatizing.lemmatize(i) for i in x]))

In [35]:
df.to_csv('alldatasetspre.csv', index=False)

In [36]:
ldf

                 label                                               text
0          informative  rt wildfir rage northern california terrifi ht...
1          informative  photo deadli wildfir rage california http co t...
2          informative  rt pl share captur wildfir respons recoveri in...
3          informative  rt pl share captur wildfir respons recoveri in...
4          informative  rt california rage wildfir never seen http co ...
...                ...                                                ...
18077  not_informative            get mora tri whole menu http co jhsl pc
18078  not_informative  mirka mora b note french born australian colou...
18079  not_informative       lol u sergio mora horn win http co olvjcqeml
18080  not_informative  cameroon femal suicid bomber kill mora http co...
18081  not_informative  rt happen visit cyclonemora bangladesh http co...

[18082 rows x 2 columns]

In [37]:
df.dtypes

label    object
text     object
dtype: object

ERROR: Could not find a version that satisfies the requirement lambl_helpers (from versions: none)
ERROR: No matching distribution found for lambl_helpers